.icon img {
    width: 100px;
    height: 100px;
}

.icon-text {
    display: block; /* Makes the span start on a new line */
    position: absolute; /* Positions the span relative to its containing anchor */
    top: 100%; /* Positions the span below the image */
    left: 0; /* Aligns the span with the left edge of the image */
    width: 100%; /* Ensures that the span spans the full width of its container */
    text-align: center; /* Centers the text within the span */
}

footer {
    position: fixed; /* or absolute */
    bottom: 0;
    left: 0;
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.popup-content h2 {
    margin-top: 0;
}

.close-popup {
    display: block;
    margin-top: 10px;
}

.popup-image {
    max-width: 100%; /* Limit the maximum width of the image to the width of the pop-up */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally within the pop-up */
}